/* dartable.css additions to make the theme easier to use */

/* Make sliders easier to click + see ------------------- */

scrollbar slider {
	background-color: shade(@selected_fg_color, 0.8);
}
scrollbar.horizontal,
scrollbar.horizontal slider {
	min-height: 16px;
	min-width: 40px;
}
scrollbar.vertical,
scrollbar.vertical slider {
	min-width: 16px;
	min-height: 100px;
}


